sempre.jar
lib
fig
sfig
refdb
virtuoso-opensource
sempre-public

pystig
trans

classes
libsempre
module-classes.txt
state
lex_state
trans_state
out
*.cache

.project
.classpath
semparse.iml
.settings
*.swp
*.bak
*.DS_Store
java.hprof.txt

bin/edu

# Latex
*.info
*.pdf
*.bbl
*.blg
*.aux
*.log
*.source
figures
figures.slides
poster.slides
main.synctex.gz

Emnlp2014/figures
Emnlp2014/main.aux
Emnlp2014/main.bbl
Emnlp2014/main.blg
Emnlp2014/*.pdf
Emnlp2014/main.log
Emnlp2014/*.log
Emnlp2014/*.bak
Emnlp2014/figures.slides/
Emnlp2014/main.synctex.gz

Emnlp2013/*.vis
Emnlp2013/talk/*.slides

*.pyc

test-output

# Symlinks
/c
/e
/t
/x
scr
rdf

tags
.idea

Acl2014/talk/index.slides
Acl2014/talk/talk

deploy.sh
query.rb

libsempre
stat
